# DB 연결 및 데이터 테스트

이 노트북은 Flask 애플리케이션의 데이터베이스에 연결하고 `RealEstateTransaction` 및 `PublicParking` 모델에서 데이터를 가져옵니다.

In [7]:
from utils import setup_db_context
import pandas as pd
from sqlalchemy import select

# DB 컨텍스트 설정
app, db = setup_db_context()

from myapp.models import RealEstateTransaction, PublicParking

데이터베이스 연결 및 앱 컨텍스트 푸시 완료.

## 1. 부동산 실거래가 (Real Estate Transactions)

In [ ]:
# input "지역구" = 도봉구, "법정동" = 방학동 
input_district_name = "도봉구"
input_legal_dong_name = "방학동"
# SQLAlchemy를 사용하여 데이터 가져오기
transactions = RealEstateTransaction.query.limit(5).all()
print(f"가져온 거래 수: {len(transactions)}")

# DataFrame으로 변환
stmt = select(RealEstateTransaction)
df_ret = pd.read_sql(stmt, db.session.connection())

# 지역구 가져오기
district_name_df = df_ret[df_ret['district_name'] == input_district_name]

# 법정동 가져오기
legal_dong_name_df = district_name_df[district_name_df['legal_dong_name'] == input_legal_dong_name]

# todo: 법정동 기준 평단가 계산 EX) 도봉구 방학동 한신빌라 14,800(amount) (변환 필요 148,000,000) | building_area 37.660
amout_avg = legal_dong_name_df[legal_dong_name_df[]]

def amount_avg(amount, building_area):
    # 단위 변환 만원 -> 원
    amount = amount*10000

    # 평단가 계산
    amount_avg = amount / building_area



# 출력
print(f"지역구 총 레코드 수: {len(district_name_df)}")
district_name_df.head()

print(f"법정동 총 레코드 수: {len(legal_dong_name_df)}")
legal_dong_name_df.head()

가져온 거래 수: 5
지역구 총 레코드 수: 7270
법정동 총 레코드 수: 1598

,ret_id,reception_year,district_code,district_name,legal_dong_code,legal_dong_name,jibun_type,jibun_type_name,main_number,sub_number,...,amount,building_area,land_area,floor,right_type,cancel_date,construction_year,building_use,declaration_type,broker_district_name
0,2,2025,11320,도봉구,10600,방학동,1,대지,0638,0010,...,14800,37.660,16.0,4,,,1994.0,연립다세대,중개거래,서울 도봉구
245,247,2025,11320,도봉구,10600,방학동,1,대지,0632,0008,...,9800,41.130,29.0,-1,,,1986.0,연립다세대,중개거래,서울 도봉구
367,369,2025,11320,도봉구,10600,방학동,1,대지,0636,0000,...,33000,51.001,0.0,3,,,2016.0,아파트,중개거래,서울 도봉구
433,435,2025,11320,도봉구,10600,방학동,,,,,...,34000,68.020,99.0,,,,1985.0,단독다가구,중개거래,서울 도봉구
468,470,2025,11320,도봉구,10600,방학동,1,대지,0636,0000,...,34500,51.257,0.0,6,,,2016.0,아파트,중개거래,서울 도봉구

## 2. 공영주차장 (Public Parkings)

In [3]:
# SQLAlchemy를 사용하여 데이터 가져오기
parkings = PublicParking.query.limit(5).all()
print(f"가져온 주차장 레코드 수: {len(parkings)}")

# DataFrame으로 변환
stmt = select(PublicParking)
df_pp = pd.read_sql(stmt, db.session.connection())

print(f"총 레코드 수: {len(df_pp)}")
df_pp.head()

가져온 주차장 레코드 수: 5
총 레코드 수: 1875

,pp_id,parking_code,parking_name,address,parking_type,parking_type_name,operation_type,operation_type_name,phone_number,parking_status_available,...,bus_basic_time_min,bus_add_rate,bus_add_time_min,day_max_rate,lat,lng,share_parking_company_name,share_parking,share_parking_company_link,share_parking_etc
0,1,171721,세종로 공영주차장(시),종로구 세종로 80-1,NW,노외 주차장,1,시간제 주차장,02-2290-6566,1,...,0,0,0,30900,37.573403,126.975884,,N,,
1,2,171730,종묘주차장 공영주차장(시),종로구 훈정동 2-0,NW,노외 주차장,1,시간제 주차장,02-2290-6166,1,...,0,0,0,28800,37.571504,126.994969,,N,,
2,3,171900,훈련원공원 공영주차장(시),중구 을지로5가 40-3,NW,노외 주차장,1,시간제 주차장,02-3405-4597,1,...,0,0,0,39600,37.567400,127.003521,,N,,
3,4,172051,한강진역 공영주차장(시),용산구 한남동 728-27,NW,노외 주차장,1,시간제 주차장,02-795-6406,1,...,0,0,0,28800,37.539522,127.002580,,N,,
4,5,172065,용산주차빌딩 공영주차장(시),용산구 한강로2가 12-9,NW,노외 주차장,1,시간제 주차장,02-2290-6014,1,...,0,0,0,21600,37.534364,126.965418,,N,,