# DB 연결 및 데이터 테스트

이 노트북은 Flask 애플리케이션의 데이터베이스에 연결하고 `RealEstateTransaction` 및 `PublicParking` 모델에서 데이터를 가져옵니다.

In [ ]:
from utils import setup_db_context
import pandas as pd
from sqlalchemy import select

# DB 컨텍스트 설정
app, db = setup_db_context()

from myapp.models import RealEstateTransaction, PublicParking

데이터베이스 연결 및 앱 컨텍스트 푸시 완료.

## 1. 부동산 실거래가 (Real Estate Transactions)

In [57]:
# input data 예시 "지역구" = 도봉구, "법정동" = 방학동 | "법정동" 데이터는 프론트로 부터 받지 않을 수도 있음.
input_district_name = "강남구"
input_legal_dong_name = None

# SQLAlchemy를 사용하여 데이터 가져오기
transactions = RealEstateTransaction.query.limit(5).all()
# print(f"가져온 거래 수: {len(transactions)}")

# DataFrame으로 변환
stmt = select(RealEstateTransaction)
df_ret = pd.read_sql(stmt, db.session.connection())


# 지역구 필터링
def filter_by_district(df, district_name):
    return df[df['district_name'] == district_name].copy()


# 전체 구 | 평단가 계산 | 건물 가격 단위(만원) | 건물 면적 단위 (m^2) | 모든 건물의 평균 단가 개발 계산 | price_per_sqm 컬럼 생성
def calc_price_per_sqm(df):
    df = df.copy()
    df['price_per_sqm'] = (
        df['amount'] * 10000
    ) / df['building_area']
    return df


# 법정동 연도별 평단가 평균 계산 | yearly_avg_price DataFrame 생성 | transaction_count, avg_price_per_sqm 컬럼 생성
def calc_yearly_avg_price(df):
    df = df.copy()
    return (
        df
        .groupby(['reception_year', 'district_name', 'legal_dong_name'])
        .agg(
            avg_price_per_sqm=('price_per_sqm', 'mean'),
            transaction_count=('price_per_sqm', 'count')
        )
        .reset_index()
        .sort_values(['legal_dong_name', 'district_name', 'reception_year'])
    )


# 포맷팅 round(0)으로 소수점 첫 째 자리에서 반올림 | price_per_sqm_format 컬럼 생성
def format_price_column(df):
    df = df.copy()
    df['price_per_sqm_format'] = (
        df['avg_price_per_sqm']
        .round(0)
        .map(lambda x: f"{int(x):,}")
    )
    return df

# 연도별 상승률 | yoy_change_rate 컬럼생성 | 앞 행(전년도)과의 평단가의 차이 %로 계산
def calc_yoy_change_rate(df):
    df = df.copy()
    df['yoy_change_rate'] = (
        df
        .groupby(['district_name', 'legal_dong_name'])['avg_price_per_sqm']
        .pct_change() * 100
    ).round(2)
    return df

# 전체 상승률 | 2025(데이터 마지막 년도)평단가 - 2022 년도(데이터 시작년도) 평단가의 차이 %로 계산
def calc_total_change_rate(df):
    df = df.copy()

    total_rate = (
        df
        .groupby(['district_name', 'legal_dong_name'])['avg_price_per_sqm']
        .agg(['first', 'last'])
        .reset_index()
    )

    total_rate['total_change_rate'] = (
        (total_rate['last'] - total_rate['first'])
        / total_rate['first'] * 100
    ).round(2)

    return df.merge(
        total_rate[['district_name', 'legal_dong_name', 'total_change_rate']],
        on=['district_name', 'legal_dong_name'],
        how='left'
    )

# 랭킹 계산
def apply_change_rank(df):
    df = df.copy()
    df['change_rank'] = (
        df
        .groupby('district_name')['total_change_rate']
        .rank(method='dense'     #1, 2, 3 (중복 순위 허용, 다음 순위 건너뛰지 않음)
              , ascending=False) # 상승률 높은 게 1위
        .astype(int)
    )
    return df


district_df = filter_by_district(df_ret, input_district_name)
district_df = calc_price_per_sqm(district_df)

yearly_avg_price = calc_yearly_avg_price(district_df)
yearly_avg_price = format_price_column(yearly_avg_price)
yearly_avg_price = calc_yoy_change_rate(yearly_avg_price)
yearly_avg_price = calc_total_change_rate(yearly_avg_price)
yearly_avg_price = apply_change_rank(yearly_avg_price)

# 랭킹으로 정렬
yearly_avg_price = yearly_avg_price.sort_values(
    by='change_rank',
    ascending=True   # 1위부터
)

yearly_avg_price

,reception_year,district_name,legal_dong_name,avg_price_per_sqm,transaction_count,price_per_sqm_format,yoy_change_rate,total_change_rate,change_rank
0,2022,강남구,개포동,1.777098e+07,277,"17,770,977",NaN,84.41,1
1,2023,강남구,개포동,2.541150e+07,639,"25,411,503",42.99,84.41,1
2,2024,강남구,개포동,2.794019e+07,773,"27,940,192",9.95,84.41,1
3,2025,강남구,개포동,3.277157e+07,10,"32,771,566",17.29,84.41,1
8,2022,강남구,대치동,1.775065e+07,274,"17,750,651",NaN,62.79,2
9,2023,강남구,대치동,2.409501e+07,481,"24,095,007",35.74,62.79,2
10,2024,강남구,대치동,2.642288e+07,580,"26,422,883",9.66,62.79,2
11,2025,강남구,대치동,2.889636e+07,14,"28,896,358",9.36,62.79,2
49,2025,강남구,자곡동,1.356524e+07,6,"13,565,238",-3.11,57.57,3
48,2024,강남구,자곡동,1.400128e+07,244,"14,001,277",10.08,57.57,3
47,2023,강남구,자곡동,1.271937e+07,118,"12,719,367",47.75,57.57,3
46,2022,강남구,자곡동,8.608857e+06,318,"8,608,857",NaN,57.57,3
27,2025,강남구,수서동,2.435616e+07,9,"24,356,155",16.22,51.80,4
25,2023,강남구,수서동,2.038728e+07,219,"20,387,281",27.07,51.80,4
24,2022,강남구,수서동,1.604442e+07,80,"16,044,421",NaN,51.80,4
26,2024,강남구,수서동,2.095607e+07,321,"20,956,069",2.79,51.80,4
20,2022,강남구,세곡동,1.106011e+07,27,"11,060,111",NaN,48.86,5
21,2023,강남구,세곡동,1.378686e+07,73,"13,786,860",24.65,48.86,5
22,2024,강남구,세곡동,1.597014e+07,118,"15,970,138",15.84,48.86,5
23,2025,강남구,세곡동,1.646413e+07,2,"16,464,133",3.09,48.86,5
45,2025,강남구,일원동,3.393174e+07,2,"33,931,741",32.37,42.44,6
43,2023,강남구,일원동,2.337290e+07,272,"23,372,902",-1.89,42.44,6
42,2022,강남구,일원동,2.382253e+07,71,"23,822,534",NaN,42.44,6
44,2024,강남구,일원동,2.563351e+07,332,"25,633,513",9.67,42.44,6
41,2024,강남구,율현동,1.780026e+07,14,"17,800,259",17.46,39.59,7
40,2023,강남구,율현동,1.515456e+07,6,"15,154,556",18.84,39.59,7
39,2022,강남구,율현동,1.275167e+07,6,"12,751,670",NaN,39.59,7
16,2022,강남구,삼성동,1.806852e+07,229,"18,068,519",NaN,33.04,8
17,2023,강남구,삼성동,2.031324e+07,246,"20,313,237",12.42,33.04,8
18,2024,강남구,삼성동,2.257470e+07,284,"22,574,697",11.13,33.04,8
19,2025,강남구,삼성동,2.403802e+07,12,"24,038,022",6.48,33.04,8
14,2024,강남구,도곡동,2.405731e+07,561,"24,057,308",6.53,31.41,9
13,2023,강남구,도곡동,2.258342e+07,375,"22,583,424",10.03,31.41,9
15,2025,강남구,도곡동,2.697268e+07,15,"26,972,681",12.12,31.41,9
12,2022,강남구,도곡동,2.052561e+07,196,"20,525,611",NaN,31.41,9
28,2022,강남구,신사동,1.752367e+07,218,"17,523,674",NaN,19.99,10
30,2024,강남구,신사동,2.102667e+07,72,"21,026,668",24.60,19.99,10
29,2023,강남구,신사동,1.687471e+07,41,"16,874,714",-3.70,19.99,10
37,2024,강남구,역삼동,1.777800e+07,838,"17,778,005",12.60,19.84,11
38,2025,강남구,역삼동,1.570891e+07,28,"15,708,914",-11.64,19.84,11
35,2022,강남구,역삼동,1.310808e+07,1215,"13,108,075",NaN,19.84,11
36,2023,강남구,역삼동,1.578871e+07,717,"15,788,712",20.45,19.84,11
7,2025,강남구,논현동,1.678946e+07,18,"16,789,465",8.38,16.73,12
6,2024,강남구,논현동,1.549079e+07,339,"15,490,791",10.68,16.73,12
5,2023,강남구,논현동,1.399560e+07,210,"13,995,601",-2.70,16.73,12
4,2022,강남구,논현동,1.438375e+07,423,"14,383,750",NaN,16.73,12
34,2025,강남구,압구정동,4.282466e+07,13,"42,824,660",5.40,13.51,13
32,2023,강남구,압구정동,3.474398e+07,124,"34,743,984",-7.91,13.51,13
31,2022,강남구,압구정동,3.772819e+07,40,"37,728,192",NaN,13.51,13
33,2024,강남구,압구정동,4.062960e+07,294,"40,629,604",16.94,13.51,13
52,2024,강남구,청담동,2.387967e+07,271,"23,879,672",-9.33,10.38,14
50,2022,강남구,청담동,2.123834e+07,132,"21,238,340",NaN,10.38,14
51,2023,강남구,청담동,2.633564e+07,168,"26,335,645",24.00,10.38,14
53,2025,강남구,청담동,2.344284e+07,7,"23,442,842",-1.83,10.38,14

## 2. 공영주차장 (Public Parkings)

In [ ]:
# SQLAlchemy를 사용하여 데이터 가져오기
parkings = PublicParking.query.limit(5).all()
print(f"가져온 주차장 레코드 수: {len(parkings)}")

# DataFrame으로 변환
stmt = select(PublicParking)
df_pp = pd.read_sql(stmt, db.session.connection())

print(f"총 레코드 수: {len(df_pp)}")
df_pp.head()

가져온 주차장 레코드 수: 5
총 레코드 수: 1875

,pp_id,parking_code,parking_name,address,parking_type,parking_type_name,operation_type,operation_type_name,phone_number,parking_status_available,...,bus_basic_time_min,bus_add_rate,bus_add_time_min,day_max_rate,lat,lng,share_parking_company_name,share_parking,share_parking_company_link,share_parking_etc
0,1,171721,세종로 공영주차장(시),종로구 세종로 80-1,NW,노외 주차장,1,시간제 주차장,02-2290-6566,1,...,0,0,0,30900,37.573403,126.975884,,N,,
1,2,171730,종묘주차장 공영주차장(시),종로구 훈정동 2-0,NW,노외 주차장,1,시간제 주차장,02-2290-6166,1,...,0,0,0,28800,37.571504,126.994969,,N,,
2,3,171900,훈련원공원 공영주차장(시),중구 을지로5가 40-3,NW,노외 주차장,1,시간제 주차장,02-3405-4597,1,...,0,0,0,39600,37.567400,127.003521,,N,,
3,4,172051,한강진역 공영주차장(시),용산구 한남동 728-27,NW,노외 주차장,1,시간제 주차장,02-795-6406,1,...,0,0,0,28800,37.539522,127.002580,,N,,
4,5,172065,용산주차빌딩 공영주차장(시),용산구 한강로2가 12-9,NW,노외 주차장,1,시간제 주차장,02-2290-6014,1,...,0,0,0,21600,37.534364,126.965418,,N,,